<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h1 style="font-weight: 100">Nuevo Pokemon</h1>
        </div>

        <div class="col-md-6">

            <form action="/pokemons/create" method="POST">
                <div class="form-group">
                    <label for="name-input">Name</label>
                    <input name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description-input">Description</label>
                    <input name="description" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="speed-input">Speed</label>
                    <input name="speed" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="attack-input">Attack</label>
                    <input name="attack" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="life-input">Life</label>
                    <input name="life" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="imageURL-input">Imagen</label>
                    <input name="imageURL" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input name="lat" type="text" class="form-control" placeholder="0.00000">
                </div>
                <div class="form-group">
                    <label for="long">Longitude</label>
                    <input name="long" type="text" class="form-control" placeholder="0.00000">
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Create Pokemon</button>
                <a href="/pokemons" class="btn btn-dark">Back</a>

            </form>
        </div>

    </div>
</div>