body {
  background-color: rgb(245, 245, 117);
}

a {
  font-size: 25px;
  font-family: "Homer Simpson UI";
}
h1 {
  font: small-caps 100%/200% serif;
  font-size: 40px;
}
#map {
  width: 100%;
  height: 550px;
}
