body {
  background-color: rgb(252, 252, 134);
}

a {
  font-size: 25px;
  font-family: "Homer Simpson UI";
}
h1 {
  font: small-caps 100%/200% serif;
  font-size: 40px;
}
#map {
  width: 100%;
  height: 550px;
}
.imgIndex {
  margin-left: 470px;
}
