<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POKEMON GO</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/stylesheets/style.css" />
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <a class="navbar-brand" href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Pokemon_Juego_de_Cartas_Coleccionables.svg/1280px-Pokemon_Juego_de_Cartas_Coleccionables.svg.png"  height="70" alt="Logo" class="d-inline-block align-top">
        </a>

{{#if isLoggedIn}}
    {{#if isAdmin}}
            <h1>Admin</h1>
    {{/if}}
            <h1>{{userName}}</h1>
{{/if}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/">Incio</a>
                </li>
{{#unless isLoggedIn}}
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/users/signup">Sign Up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/users/login">Log In</a>
                </li>
{{else}}
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/users/logout">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/users/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/pokemons">POKEMONS</a>
                </li>

{{/unless}}
{{#if isAdmin}}
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/foods">FOOD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light bg-danger" href="/users">USERS</a>
                </li>
{{/if}}

        </div>
    </nav>

    <main>
        {{isAdmin}} Desde layout
        {{{body}}}
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARy9RWATbj258mslqw4WegGp0889gRIZk&callback=initMap"></script>


    <script src="/js/script.js"></script>
</body>

</html>