<div id="form">
    <h2>No tienes una cuenta? Registrate! Es súper fácil </h2>

    <form action="/users/signup" method="POST">

        <label> Username
            <input type="text" name="userName" placeholder="Username" />
        </label>
        <br>

        <label>Password
            <input type="password" name="password" placeholder="********" />
        </label>

        <button type="Submit">Sign up</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>