<h1 class="imgProfile">Bienvenido  {{user.userName}}</h1>
<div>
    <img class="imgProfile" src="https://fragugames.com/wp-content/uploads/2020/08/eb3e6eb121ca64bf7a90022a706d6a131a3c7838_hq.jpg">
    <br>
    <a class="profile" href="/"> Comienza a explorar</a>
    <div>
        <h2>Coins: </h2>
        <h2>POKEMONS</h2>

        
    </div>

</div>
<a class="profile" href="/"> Comienza a explorar</a>
<br>
{{role}}
{{!-- Recibimos Pokemons --}}