<div class="container">
    <div class="row justify-content-between">
{{#each users}}
<ul style="width:25%">
   <h4><li>{{userName}}</li></h4>
    <div class="form-check">

        <label class="form-check-label">
            Role is {{role}}
        </label>
    </div>

    <button data-userid ="{{_id}}"  type="button" data-role={{role}} class="btn btn-dark toggleRoleBtn">Cambiar Rol</button>

</ul>
{{/each}}
</div>
    </div>
</div>