<h1 class="imgProfile">Bienvenido  {{userName}}</h1>
<div>
    <img class="imgProfile" src="https://fragugames.com/wp-content/uploads/2020/08/eb3e6eb121ca64bf7a90022a706d6a131a3c7838_hq.jpg">
    <br>

</div>
<a class="profile" href="/"> Comienza a explorar</a>
<br>
{{role}}