Aqui iran las cards de comida.
<div class="container">


    <h1 style="font-weight: 100">Lista de comida</h1>

    <!-- ***** CREA UNA FICHA DE LISTA POR CADA FOOD**** -->
    {{#each foods}}
    <hr>
    <a href="/foods/uptade/{{food._id}}" class="btn btn-sm btn-dark">Editar</a>
    <h4>Nombre de la comida: {{name}}</h4>
    <p>Descripción de la comida {{description}}</p>
    <small><strong>Amount: </strong> {{amount}}</small>
    <hr>

    {{/each}}